<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title ><%= title %> </title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <header>
            <div class = "nombre"><h1>Editar palabra</h1></div>
        </header>
        <form  method="post" action="/edit/<%= palabra.id %>?_method=PUT">
            <div class ="input_info"  >
                <div class="input_tema">
                    <label>Tema
                        <input type="text" name = "tema" value = <%= palabra.tema %>>
                    </label>
                </div>
                <br>
                <div class="input_palabra">
                <br>
                    <label>Palabra
                        <input type="text"  name = "palabro" value = <%= palabra.palabro %>>
                    </label>
                    <label>Traducor
                        <input type="text"  name = "traducor" value = <%= palabra.traducor %>>
                    </label>
                </div>
            
            <br>
        </div>
            <div class="for_button_anadir_tema">
                <!-- <input onclick = "anadir_areas_de_texto()" type="submit" class="anadir_tema" value="Else"> -->
                <input type="submit" class="anadir_tema" value="Editar" data-id="<%= palabra["_id"] %>">
            </div>
        

        </form>
        <script>
    //          document.addEventListener('click', (e) => {
    //   const id = e.target?.dataset?.id || null;
    //   if (id) {
    //     fetch(`/edit/${id}`, {
    //       method: 'PUT',
    //     }).then(() => {
    //       window.location.reload();
    //     });
    //   }
    // });

        </script>
        
        
    </body>
</html>